body {
    padding-top: 90px;
}

#feed-list-view {
    height: calc(100vh - 70px);
    overflow-y: scroll;
}

#feed-list-view_search-box {
    width: calc(100% - 10px);
    height: 40px;
    margin: 5px;
    padding: 0 20px;

    margin-bottom: 20px;

    font-size: var(--middle-text);
}

#feed-list-view_post-list-div {
    padding: 10px;
    background-color: var(--light-grey);
}

.feed-list-view_post-div {
    background-color: white;
    padding: 10px 20px;
    margin: 10px 5px;
    font-size: var(--middle-text);
}

.feed-list-view_post-div:hover {
    box-shadow: var(--default-shadow);
    margin: 10px 0px;
}

.feed-list-view_post-div_goal-span {
    color: var(--grey);
    margin-right: 10px;
}

.feed-list-view_post-div_follower-span {
    font-size: var(--small-text);
    color: var(--primary);
}

#barrier {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 100;

    background-color: rgba(0, 0, 0, 0.5);
}

#modal-box {
    z-index: 101;
    position: absolute;

    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    max-width: 800px;

    background-color: var(--light-grey);
    padding: 20px;
}

#modal-goal {
    color: var(--grey);
    margin-right: 10px;
}




.todo-detail-view_repeat-day-of-week_element {
    display: inline-block;

    padding: 10px 15px;
    background-color: var(--grey);
    color: white;
    font-size: var(--middle-text);
    margin: 0 5px;
}

.todo-detail-view_repeat-day-of-week_element[selected=true] {
    background-color: var(--primary);
    box-shadow: var(--default-shadow);
}

.todo-detail-view_div {
    background-color: white;
    margin: 10px;
    padding: 10px;

    font-size: var(--middle-text);
}

#todo-detail-view_what {
    font-size: var(--large-text);
}

#todo-detail-view_quit-button {
    border: none;
    background-color: var(--grey);
    color: white;
    padding: 10px 20px;
    margin: 5px;
    font-size: var(--large-text);
}

#todo-detail-view_load-button {
    border: none;
    background-color: var(--primary);
    color: white;
    padding: 10px 20px;
    margin: 5px;
    font-size: var(--large-text);
}

#todo-detail-view_quit-button:hover {
    box-shadow: var(--default-shadow);
}

#todo-detail-view_load-button:hover {
    box-shadow: var(--default-shadow);
}