body {
    padding-top: 90px;
}

#todo-summary-view_summary-wrapper {
    background-color: var(--light-grey);
    min-height: 100px;

    padding: 10px;
    margin: 10px 0;
}

.todo-summary-view_todo-summary {
    padding: 10px 10px 0 10px;
}

#todo-summary-view_add-new-goal {
    border: none;
    background-color: var(--primary);
    color: white;
    font-size: var(--middle-text);
    padding: 10px 20px;
    border-radius: 5px;
}

#todo-summary-view_add-new-goal:hover {
    box-shadow: var(--default-shadow);
}

.todo-summary-view_todo {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;

    position: relative;
}

.todo-summary-view_todo:hover {
    box-shadow: var(--default-shadow);
}

.todo-summary-view_goal-span {
    margin-right: 10px;
    font-size: var(--middle-text);
    color: var(--grey);
}

.todo-summary-view_what-span {
    font-size: var(--middle-text);
}

.todo-summary-view_check-span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: white;
    background-image: url("./asset/checkbox.png");
    background-size: contain;

    position: absolute;
    right: 10px;
}

.todo-summary-view_check-span[cleared=true] {
    background-color: var(--primary);
}

#todo-detail-view {
    padding: 10px;
    background-color: var(--light-grey);

    min-height: 200px;
}

.todo-detail-view_repeat-day-of-week_element {
    display: inline-block;

    padding: 10px 15px;
    background-color: var(--grey);
    color: white;
    font-size: var(--middle-text);
    margin: 0 5px;
}

.todo-detail-view_repeat-day-of-week_element[selected=true] {
    background-color: var(--primary);
    box-shadow: var(--default-shadow);
}

.todo-detail-view_div {
    background-color: white;
    margin: 10px;
    padding: 10px;

    font-size: var(--middle-text);
}

#todo-detail-view_what {
    font-size: var(--large-text);
}

#todo-detail-view_remove-button {
    border: none;
    background-color: var(--accent);
    color: white;
    padding: 10px 20px;
    margin: 5px;
    font-size: var(--large-text);
}

#todo-detail-view_finish-button {
    border: none;
    background-color: white;
    color: black;
    padding: 10px 20px;
    margin: 5px;
    font-size: var(--large-text);
}

#todo-detail-view_modify-button {
    border: none;
    background-color: var(--grey);
    color: white;
    padding: 10px 20px;
    margin: 5px;
    font-size: var(--large-text);
}

#todo-detail-view_clear-button {
    border: none;
    background-color: var(--primary);
    color: white;
    padding: 10px 20px;
    margin: 5px;
    font-size: var(--large-text);
}

#todo-detail-view_remove-button:hover {
    box-shadow: var(--default-shadow);
}

#todo-detail-view_finish-button:hover {
    box-shadow: var(--default-shadow);
}

#todo-detail-view_modify-button:hover {
    box-shadow: var(--default-shadow);
}

#todo-detail-view_clear-button:hover {
    box-shadow: var(--default-shadow);
}