#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    background-color: var(--primary);
    color: white;
    padding: 10px;

    display: flex;
    align-items: center;

    box-shadow: var(--default-shadow);
}

#header_home-link {
    font-size: var(--title-text);

    padding: 0px 20px;
}

#header_my-goal {
    font-size: var(--large-text);

    padding: 0px 10px;
}

#header_feed {
    font-size: var(--large-text);

    padding: 0px 10px;
}

#header_user-name {
    position: absolute;
    right: 20px;

    font-size: var(--large-text);
}