@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

:root {
    --primary: #53A551;
    --accent: #C85555;
    --grey: #BEBEBE;
    --light-grey: #ECECEC;

    --title-text: 30px;
    --large-text: 23px;
    --middle-text: 18px;

    --default-shadow: 0px 3px 3px rgba(0,0,0,0.25);
}

* {
    font-family: 'Gowun Dodum', sans-serif;
}

html, body {
    margin: 0;
}


/* HEADER start */

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    background-color: var(--primary);
    color: white;
    padding: 10px;

    display: flex;
    align-items: center;

    box-shadow: var(--default-shadow);
}

#header_home-link {
    font-size: var(--title-text);

    padding: 0px 20px;
}

#header_my-goal {
    font-size: var(--large-text);

    padding: 0px 10px;
}

#header_feed {
    font-size: var(--large-text);

    padding: 0px 10px;
}

#header_user-name {
    position: absolute;
    right: 20px;

    font-size: var(--large-text);
}

/* HEADER end */


/* DATE_PICKER start */

.date-picker_date-picker-element {
    display: inline-block;
    padding: 15px;
    margin: 5px;

    background-color: var(--grey);
    color: white;
    font-size: var(--middle-text);
    text-align: center;
    vertical-align: middle;

    border-radius: 5px;
}

.date-picker_date-picker-element:hover {
    box-shadow: var(--default-shadow);
}

.date-picker_date-picker-element[selected=true] {
    box-shadow: var(--default-shadow);
    background-color: var(--primary);
}

/* DATE_PICKER end */
